In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
pd.DataFrame

pandas.core.frame.DataFrame

In [5]:
df = {'shoes': [12, 21, 6], 'top': [20,11, 9], 'pants':[23,18, 37]}

In [6]:
data = pd.DataFrame(df)
data

   shoes  top  pants
0     12   20     23
1     21   11     18
2      6    9     37

In [8]:
data.head()

   shoes  top  pants
0     12   20     23
1     21   11     18
2      6    9     37

In [10]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
data.iloc[0]

shoes    12
top      20
pants    23
Name: 0, dtype: int64

In [13]:
data['shoes']

0    12
1    21
2     6
Name: shoes, dtype: int64

In [14]:
data.to_csv('Pandas_Challenge.csv')

**Based on the content from Murray (2017) Chapter 1:
Why are dynamic, interactive data visualizations useful when communicating data?**

**1.Interactivity allows the user to engage with the data and drill down into details that interest them. Static images limit the amount of data that can be shown at one time. Interactive visualizations let users filter, highlight, and reveal more insights from the dataset.**

**2.Movement and animation draw attention and introduce important temporal elements. Transitions over time are easier to understand when data is animated rather than static snapshots. Animation also better shows how systems work and flow.**

**3.Custom views based on user input tailor the information shown to what's most relevant to each user's needs and questions. Different perspectives on the same data can be exposed through customizable dashboards, charts, and filters.**

**4.Details on demand provide additional information without cluttering up the screen. Hover tooltips, click interactions, and other triggers allow users to access supporting details only when needed rather than overwhelming them upfront.**

**5.Telling stories with guided views through data allows creators to build narratives, highlighting insights users might otherwise miss. Walking users through dynamic transitions and precisely crafted data tales informs them and promotes recall.**